VITE_GOOGLE_SHEETS_ID=your_google_sheet_id_here
VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_JSEARCH_API_KEY=your_rapidapi_key_here
VITE_ADZUNA_APP_ID=your_adzuna_app_id_here
VITE_ADZUNA_APP_KEY=your_adzuna_app_key_here
VITE_WORKER_URL=https://job-hunter-worker.YOUR_SUBDOMAIN.workers.dev
